{% extends "base.html" %}

{% block content %}

<section class="contain">
    <div class="landing">
        <div class="about-info">
            <h4>About Us</h4>
            <p>
                Medical expert systems have become increasingly popular in recent years as more and more 
                individuals seek reliable and accurate information about their health. These systems are typically 
                designed to provide patients with an easy-to-use interface for diagnosing diseases based on their symptoms. 
                In this literature review, we will discuss the development and implementation of medical expert systems that 
                allow patients to perform disease diagnosis using selected symptoms
            </p>
        </div>

        <div class="landingImage col-4" data-aos="fade-down" data-aos-duration="2000">
            <img src="../static/images/healthcare.png" alt="">
        </div>   
    </div>
    
</section>

{% endblock  %}