{% extends "base.html" %}

{% block content %}

<section  class="contain">
    <div class="landing">
        
            <div class="row justify-content-center non-flex">
                <h2 class="mb-4">Contact Us</h2>
                <form action="{% url 'contact' %}" method="post" class="form-group">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              
            </div>
          
            
         
        
  
        <div class="landingImage col-4">
            <img src="../static/images/logo1.png" alt="">
        </div>
        </div>
        
      </div>
    </div>
        
  </section> 


{% endblock content %}