{% extends 'base.html' %}

{% block content %}
  <div class="diagnosis">
    {% if form.errors %}
      <ul>
        {% for field_errors in form.errors.values %}
          {% for error in field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}

    <form action="{% url 'diagnosiz' %}" method="POST" id="diagnosis-form">
      {% csrf_token %}
      <h1>Diagnosis Page</h1>
      <label for="symptoms"><h4>Symptoms:</h4></label>
      <select name="symptoms" id="symptoms-select" class="form-control">
        <option value="">-----Select Symptoms-----</option>
        {% for symptom in form.symptoms %}
          <option value="{{ symptom.choice_label }}">{{ symptom.choice_label }}</option>
        {% endfor %}
      </select>
      <br><br>

      <div class="selected-symptoms form-group">
        <span class="font-weight-bold">Selected symptoms:</span>
        <ul id="symptom-list" class="selected-list"></ul>
        <input type="hidden" id="selected-symptoms-field" name="selected_symptoms">
      </div>
      <br><br>
      <div class="diagnosis-btn">
        <input type="submit" value="Diagnose" class="btn btn-primary" id="diagnose-btn" disabled>
      </div>    
    </form>
    <div class="disclaimer">
      <i class="bi bi-exclamation-triangle"></i>
      <p>
        <strong>Disclaimer:</strong> 
        "Please note that some symptoms on this list are typically experienced by individuals of a specific gender. For example, the symptom 'abnormal menstruation' is typically experienced by people who menstruate. However, it's important to note that symptoms can be experienced by people of any gender, and we encourage all users to accurately report their symptoms regardless of their gender identity." 
      </p>
  </div>

{% endblock %}



