{% extends "base.html" %}
{% block content %}
<h1>Diagnosis Page</h1>

<div class="diagnosis">
    <form action="">
        <div class="symps">
            <label for="">Symptom 1</label>
            <select name="symptom" id="">
                <option value="">symptom 1</option>
                <option value="">symptom 2</option>
                <option value="">symptom 3</option>
            </select>
        </div>
        <div class="symps">
            <label for="">Symptom 1</label>
            <select name="symptom" id="">
                <option value="">symptom 1</option>
                <option value="">symptom 2</option>
                <option value="">symptom 3</option>
            </select>
        </div>
        <div class="symps">
            <label for="">Symptom 1</label>
            <select name="symptom" id="">
                <option value="">symptom 1</option>
                <option value="">symptom 2</option>
                <option value="">symptom 3</option>
            </select>
        </div>
        <div class="symps">
            <label for="">Symptom 1</label>
            <select name="symptom" id="">
                <option value="">symptom 1</option>
                <option value="">symptom 2</option>
                <option value="">symptom 3</option>
            </select>
        </div>
        <div class="symps">
            <label for="">Symptom 1</label>
            <select name="symptom" id="">
                <option value="">symptom 1</option>
                <option value="">symptom 2</option>
                <option value="">symptom 3</option>
            </select>
        </div>
        <div class="symps">
            <label for="">Symptom 1</label>
            <select name="symptom" id="">
                <option value="">symptom 1</option>
                <option value="">symptom 2</option>
                <option value="">symptom 3</option>
            </select>
        </div>
        <div class="diagnosis-btn">
            <input type="submit" value="Diagnose">
        </div>

    </form>
</div>

{% endblock content %}