{% extends "base.html" %}
{% block content %}
<div class="landing">
    <div class="landingText" data-aos="fade-up" data-aos-duration="1000">
        <h1>Welcome to <br><span style="color:#005822;font-size: 4,5vw"> Impilo Medical Expert</span> </h1>
        <h3>Here we say "Your Health is Your Wealth" <br> PROTECT IT</h3>
        <div class="btn">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="landingImage" data-aos="fade-down" data-aos-duration="2000">
        <img src="../static/images/bg1.png" alt="">
    </div>
</div>


{% endblock content %}